// Variables
$main-blue-text: rgb(19, 61, 189);
$dark-blue: rgb(8, 36, 121);
$light-grey: rgb(243, 245, 250);
$mid-grey: rgb(99, 105, 125);
$mid-green: rgb(101, 215, 141);

$small: 600px;
$medium: 1023px;
$large: 1439px;
$xlarge: 1440px;

$font-family: "Arial", sans-serif;
$nav-height: 3.5rem;
$bold: 700;

// Styles

body {
  font-family: $font-family;
  padding-top: $nav-height;
}

header {
  margin: 0 10%;
}

.img_container {
  display: flex;
  gap: .5rem;
  margin: .5rem 10% 0 10%;
}

.img_small {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2 {
  font-size: 1.5rem;
  color: $dark-blue;
  font-weight: $bold;
}

h3 {
  color: $dark-blue;
  font-size: 1.5rem;
  font-weight: $bold;
}

table {
  width: 100%;
}

tr {
  font-size: 1rem;
  line-height: 1.375rem;
  text-align: left;
  width: 100%;
}

th {
  width: 50%;
  font-size: 1rem;
  color: $mid-grey;
  font-weight: 400;
  line-height: 1.375rem;
}

td {
  width: 50%;
  font-size: 1rem;
  color: $mid-grey;
  font-weight: $bold;
  line-height: 1.375rem;
  padding-left: .625rem;
}

button {
  padding: .5625rem 1.25rem;
  font-size: 1rem;
  line-height: 1rem;
  background-color: $mid-green;
  color: $dark-blue;
  font-weight: $bold;
  border-radius: 1.375rem;
  border: 0;
}

.generalJobTitle {
  color: $main-blue-text;
  font-size: .875rem;
}

.description {
  font-size: 1rem;
  color: $dark-blue;
  line-height: 1.6rem;
}

.main_nav {
  display: flex;
  justify-content: space-between;
}

.hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container_title {
  margin: 0 10%;
  padding: 5vh 0;
}

.title_job {
  font-size: 1.875rem;
  font-weight: $bold;
  color: $dark-blue;
  line-height: 2rem;
}

.title {
  display: flex;
  width: 70%;
  justify-content: space-between;
}

.top_nav_menu {
  flex-grow: 1;
}

.top {
  position: fixed;
  padding: 0 10%;
  width: 80%;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &_nav {
    min-height: $nav-height;
    display: flex;
    align-items: center;
    width: 100%;

    &_logo {
      height: 54px;
      margin-right: 2rem;

      svg {
        height: 95%;
        width: auto;
      }
    }

    li {
      position: relative;

      a {
        color: $main-blue-text;
        text-decoration: none;
        font-weight: bold;
        padding: 1rem 1rem;
        transition: background-color 0.3s ease;

        &:hover {
          border-bottom: 2px solid $main-blue-text
        }

        &:active {
          background-color: rgba($main-blue-text, 0.2);
        }
      }
    }
  }
}

